* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    border: 4px solid orange;
    width: 320px;
    height: 520px;
    padding: 2px;
}

.display-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    padding: 12px;
}

#display {
    margin-bottom: 20px;
}

.btn-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    padding: 20px;
}

.wider-btn {
    flex: 0.3 0 40%;
    border-radius: 20px;
}